<div class="dashboard-margin">

  <div>
    <h3>
      Please input an email address: (you can search business cards by email)
    </h3>
    <br>
    <div class="row search-margin">
      <div class="col-md-0">
        <label class="label-margin">Email: </label>
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" [(ngModel)]="searchConditionEmail">
      </div>
      <div>
        <button (click)="searchByEmail()" class="btn btn-primary">Search</button>
      </div>
    </div>

    <div *ngIf="businessCardSearchedByEmail" class="search-result-margin">
      <app-business-card-detail [businessCard]="businessCardSearchedByEmail" [searchBy]="'by email'"></app-business-card-detail>
    </div>
  </div>

  <br>
  <div>
    <h3>
      Web Camera:
    </h3>
    <div>
      <div *ngIf="useCamera">
          <webcam [height]="360" [width]="480" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="useCamera"></webcam>
      </div>
      <button (click)="takeSnapshot()" *ngIf="useCamera" class="btn btn-primary detected-margin">Take A Snapshot</button>
      <button (click)="toggleWebCamera()" class="btn btn-primary detected-margin">Toggle Camera</button>
    </div>
    <div *ngIf="imageTaken">
      <h3>
        Image taken from web camera:
      </h3>
      <img [src]="webcamImage.imageAsDataUrl" [height]="360" width="480">
    </div>
  </div>

  <br>
  <div>
    <button (click)="textDetection()" [disabled]="!imageTaken" class="btn btn-primary detected-margin">Text Detect</button>
    <button (click)="addDetectedBusinessCard()" [disabled]="!detected" class="btn btn-primary detected-margin">Add Detected Business Card</button>
    
    <div class="row detected-margin">
      <div class="col-md-0">
        <label class="label-margin">Detected First Name: </label>
      </div>
      <div class="col-md-3">
        <input type="text" [(ngModel)]="detectedFirstName" [disabled]="!detected" class="form-control">
      </div>
    </div>

    <div class="row detected-margin">
      <div class="col-md-0">
        <label class="label-margin">Detected Last Name: </label>
      </div>
      <div class="col-md-3">
        <input type="text" [(ngModel)]="detectedLastName" [disabled]="!detected" class="form-control">
      </div>
    </div>

    <div class="row detected-margin">
      <div class="col-md-0">
        <label class="label-margin">Detected Email: </label>
      </div>
      <div class="col-md-3">
        <input type="text" [(ngModel)]="detectedEmail" [disabled]="!detected" class="form-control">
      </div>
    </div>

    <div class="row detected-margin">
      <div class="col-md-0">
        <label class="label-margin">Detected Phone Number: </label>
      </div>
      <div class="col-md-3">
        <input type="text" [(ngModel)]="detectedPhoneNumber" [disabled]="!detected" class="form-control">
      </div>
    </div>

    <div class="row detected-margin">
      <div class="col-md-0">
        <label class="label-margin">Detected Extra Text: </label>
      </div>
      <div class="col-md-8">
        <input type="text" [(ngModel)]="detectedExtraText" [disabled]="!detected" class="form-control">
      </div>
    </div>
  </div>

  <br>
  <div *ngIf="!businessCards || businessCards.length <= 0">
    <h3>
      There is no business card in database!
    </h3>
  </div>
  <div *ngIf="businessCards && businessCards.length > 0">
    <h3>
      Current business cards in database:
    </h3>
    <div *ngFor="let businessCard of businessCards; let i = index">
      <div>
        <span>
          {{ i + 1 }}.
        </span>
        <!--<span>
          {{ businessCard.firstName }},
        </span>
        <span>
          {{ businessCard.lastName }},
        </span>-->
        <span>
          {{ businessCard.phoneNumber }},
        </span>
        <span>
          {{ businessCard.email }},
        </span>
        <!--<span>
          {{ businessCard.extraText }}
        </span>-->
      </div>
      <div>
          <img [src]="businessCard.imageUri" [height]="270" [width]="360">
      </div>
    </div>
  </div>

  
</div>

